* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Open Sans";
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 30px 450px;
  background: #000 url(logo.svg) no-repeat center 100px;
  background-size: 900px;
  background-position-x: calc(100% / 2 + 100px);
}

@media (max-width: 900px) {
  #logo {
    background-size: 500px;
    padding-bottom: 300px;
    background-position-x: calc(100% / 2 + 50px);
  }
}

#logo img.echo {
  max-width: 100%;
  width: 600px;
  margin-top: 90px;
}

#logo .social {
  display: flex;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#logo .social a img {
  height: 24px;
  margin-right: 15px;
}

#speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

#speakers ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-top: 60px;
  justify-items: center;
}

#speakers ul li {
  height: 300px;
  width: calc(1200px / 2 - 100px);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1100px) {
  #speakers ul {
    grid-template-columns: 1fr;
    align-content: center;
  }

  #speakers ul li {
    width: 100%;
    max-width: 600px;
    max-height: 220px;
  }
}

#speakers p {
  font-weight: bold;
  margin-top: 60px;
  font-size: 24px;
  text-align: center;
}

section#echo {
  background: #eaeaea;
  padding: 100px 0;
  font-size: 20px;
  line-height: 36px;
  position: relative;
}

section#echo .container {
  max-width: 880px;
}

section#inscricao {
  padding: 200px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#inscricao strong {
  display: block;
  width: 100%;
  max-width: 750px;
  text-align: center;
  color: #f41919;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}

section#faq {
  padding: 100px 0;
  background: #f41919;
  color: #fff;
}

section#faq .container {
  max-width: 900px;
}

section#faq .info {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  align-items: stretch;
  position: relative;
  padding-left: 150px;
}

section#faq .info:first-child {
  margin: 0;
}

section#faq .info strong {
  transform: rotateZ(-90deg);
  left: 0;
  position: absolute;
  top: 40px;
  line-height: 30px;
  font-size: 20px;
}

@media (max-width: 600px) {
  section#faq .info {
    padding-left: 0px;
    flex-direction: column;
  }

  section#faq .info strong {
    transform: none;
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }
}

section#faq .info:first-child strong {
  left: 5px;
}

section#faq .info strong span {
  color: rgba(0, 0, 0, 0.6);
}

section#faq .info p {
  font-size: 20px;
  line-height: 36px;
}

section#team {
  background: #eaeaea;
  text-align: center;
  padding: 60px 0;
}

section#team h2 {
  font-size: 36px;
  text-transform: uppercase;
}

section#team .list {
  max-width: 1000px;
  margin: 60px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section#team .list .list-item {
  display: flex;
  max-width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  margin: 0 15px 30px;
}

section#team .list .list-item img {
  min-height: 300px;
}

section#team .list .list-item .content {
  position: absolute;
  left: 0;
  top: 222px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px 30px;
  transition: all 0.2s;
}

section#team .list .list-item:hover .content {
  top: 0;
}

section#team .list .list-item .content .title {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#team .list .list-item .content h3 {
  font-size: 18px;
  line-height: 24px;
}

section#team .list .list-item .content p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 24px;
}

section#partners {
  background: #fff;
  text-align: center;
  padding: 60px 0;
}

section#partners h2 {
  font-size: 36px;
  text-transform: uppercase;
}

section#partners .list {
  margin-top: 60px;
}

section#partners .list .line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section#partners .list .line:first-child {
  margin-top: 0;
}

section#partners img {
  max-width: 100%;
  max-height: 100px;
  margin: 0 30px 50px;
}

section#partners img.small {
  max-height: 80px;
}

section#partners img.smaller {
  max-height: 50px;
}

footer#main-footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
}

footer#main-footer p {
  margin: 0;
}

footer#main-footer span {
  color: #f41919;
}

footer#main-footer a {
  color: #fff;
}
